[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.5.0"
webdriver-manager = "==3.8.3"
pyqt5 = "==5.15.7"

[dev-packages]

[requires]
python_version = "3"
